<div class="list_header_button">
  <a href="#" onclick="removeSingle('<%= @association %>'); return false">Remove</a>
</div>

<div style="clear:both"></div>
<%- @object.class.columns.reject{ |c| @object.class.primary_key == c }.each do |col| -%>
<div class="active_admin_object_property">
  <em><%= underscored_to_human_readable(col) %></em> :
  <%= @object.send(col).to_s[0..30] %>
</div>
<%- end -%>
<div style="clear:both"></div>